.form{
    margin: 2em auto;
    width: 25%;
}
.form label{
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
}
.form input{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding:0.5em;
    border: none;
    border-radius: 4px;
    background-color: #f7f5ef;
    border-bottom: 2px solid #494844;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 1em;
    font: inherit;
    outline: none;
}
.form button{
    background-color: #ebb002;
    border: 1px solid #ebb002;
    color: #201d0f;
    padding: 0.5em 1.5em;
    cursor: pointer;
    border-radius: 4px;
    font: inherit;
    font-weight: 600;
}
.form button:hover{
    background-color: #cc9b06;
    border-color: #ebb002;
}